[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configargparse = "*"
bls-lib = "*"
pdfrw = "*"
email-helper = "*"

[dev-packages]

[requires]
python_version = "3.9"
